#include "AroundForty-RB.dtsi"
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <scroll-snap.dtsi>

#define Mac_Default_Layer 0
#define Win_Default_Layer 1
#define AML_Layer         2
#define Mac_Num_Layer     3
#define Win_Num_Layer     4
#define Mac_Symbol_Layer  5
#define Win_Symbol_Layer  6
#define Mac_Common_Layer  7
#define Win_Common_Layer  8
#define Mac_Arrow_Layer   9
#define Win_Arrow_Layer   10
#define Setting_Layer     11
#define I_Gesture_Layer   12
#define I_Gesture_Win     13
#define O_Gesture_Layer   14
#define O_Gesture_Win     15

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&xiao_d 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d  9 GPIO_ACTIVE_HIGH>
        , <&xiao_d  8 GPIO_ACTIVE_HIGH>
        , <&xiao_d  7 GPIO_ACTIVE_HIGH>
        , <&gpio0  10 GPIO_ACTIVE_HIGH>
        ;
};

&zip_scroll_snap {
    require-n-samples = <8>;
    immediate-snap-threshold = <750>;
    lock-duration-ms = <175>;
    lock-for-next-n-events = <8>;
    idle-reset-timeout-ms = <175>;
};

// Layer 0: macOS用マウスジェスチャー
&zip_mouse_gesture {
    stroke-size = <200>;
    movement-threshold = <3>;
    idle-timeout-ms = <300>;
    enable-eager-mode;
    suppress-movement;

    page_top {
        pattern = <GESTURE_UP>;
        bindings = <&kp LG(UP_ARROW)>;
    };

    page_bottom {
        pattern = <GESTURE_DOWN>;
        bindings = <&kp LG(DOWN_ARROW)>;
    };

    history_forward {
        pattern = <GESTURE_RIGHT>;
        bindings = <&kp LG(RIGHT_BRACKET)>;
    };

    history_back {
        pattern = <GESTURE_LEFT>;
        bindings = <&kp LG(LEFT_BRACKET)>;
    };

    new_tab {
        pattern = <GESTURE_LEFT GESTURE_RIGHT>;
        bindings = <&kp LG(T)>;
    };

    open_history {
        pattern = <GESTURE_DOWN GESTURE_RIGHT>;
        bindings = <&kp LG(Y)>;
    };
};

/ {
    // I長押し: タブ操作（macOS）
    zip_mouse_gesture_i_mac: zip_mouse_gesture_i_mac {
        compatible = "zmk,input-processor-mouse-gesture";
        #input-processor-cells = <0>;
        stroke-size = <150>;
        movement-threshold = <3>;
        gesture-cooldown-ms = <200>;
        always-active;
        enable-eager-mode;
        suppress-movement;

        next_tab {
            pattern = <GESTURE_RIGHT>;
            bindings = <&kp LC(TAB)>;
        };

        previous_tab {
            pattern = <GESTURE_LEFT>;
            bindings = <&kp LC(LS(TAB))>;
        };

        reopen_tab {
            pattern = <GESTURE_UP>;
            bindings = <&kp LG(LS(T))>;
        };

        close_tab {
            pattern = <GESTURE_DOWN>;
            bindings = <&kp LG(W)>;
        };
    };

    // I長押し: タブ操作（Windows）
    zip_mouse_gesture_i_win: zip_mouse_gesture_i_win {
        compatible = "zmk,input-processor-mouse-gesture";
        #input-processor-cells = <0>;
        stroke-size = <150>;
        movement-threshold = <3>;
        gesture-cooldown-ms = <200>;
        always-active;
        enable-eager-mode;
        suppress-movement;

        next_tab {
            pattern = <GESTURE_RIGHT>;
            bindings = <&kp LC(TAB)>;
        };

        previous_tab {
            pattern = <GESTURE_LEFT>;
            bindings = <&kp LC(LS(TAB))>;
        };

        reopen_tab {
            pattern = <GESTURE_UP>;
            bindings = <&kp LC(LS(T))>;
        };

        close_tab {
            pattern = <GESTURE_DOWN>;
            bindings = <&kp LC(W)>;
        };
    };

    // O長押し: macOS用デスクトップ／ウィンドウジェスチャー
    zip_mouse_gesture_o_mac: zip_mouse_gesture_o_mac {
        compatible = "zmk,input-processor-mouse-gesture";
        #input-processor-cells = <0>;
        stroke-size = <200>;
        movement-threshold = <3>;
        always-active;
        enable-eager-mode;
        suppress-movement;

        desktop_right {
            pattern = <GESTURE_RIGHT>;
            bindings = <&kp LC(RIGHT_ARROW)>;
        };

        desktop_left {
            pattern = <GESTURE_LEFT>;
            bindings = <&kp LC(LEFT_ARROW)>;
        };

        mission_control {
            pattern = <GESTURE_UP>;
            bindings = <&kp LC(UP_ARROW)>;
        };

        app_expose {
            pattern = <GESTURE_DOWN>;
            bindings = <&kp LC(DOWN_ARROW)>;
        };
    };

    // O長押し: Windows用デスクトップ／ウィンドウジェスチャー
    zip_mouse_gesture_o_win: zip_mouse_gesture_o_win {
        compatible = "zmk,input-processor-mouse-gesture";
        #input-processor-cells = <0>;
        stroke-size = <200>;
        movement-threshold = <3>;
        always-active;
        enable-eager-mode;
        suppress-movement;

        desktop_right {
            pattern = <GESTURE_RIGHT>;
            bindings = <&kp LC(LG(RIGHT_ARROW))>;
        };

        desktop_left {
            pattern = <GESTURE_LEFT>;
            bindings = <&kp LC(LG(LEFT_ARROW))>;
        };

        task_view {
            pattern = <GESTURE_UP>;
            bindings = <&kp LG(TAB)>;
        };

        minimize_window {
            pattern = <GESTURE_DOWN>;
            bindings = <&kp LG(DOWN_ARROW)>;
        };
    };

    // Layer 1: Windows用マウスジェスチャー
    zip_mouse_gesture_win: zip_mouse_gesture_win {
        compatible = "zmk,input-processor-mouse-gesture";
        #input-processor-cells = <0>;
        stroke-size = <200>;
        movement-threshold = <3>;
        idle-timeout-ms = <300>;
        enable-eager-mode;
        suppress-movement;

        page_top {
            pattern = <GESTURE_UP>;
            bindings = <&kp LC(HOME)>;
        };

        page_bottom {
            pattern = <GESTURE_DOWN>;
            bindings = <&kp LC(END)>;
        };

        history_forward {
            pattern = <GESTURE_RIGHT>;
            bindings = <&kp LA(RIGHT_ARROW)>;
        };

        history_back {
            pattern = <GESTURE_LEFT>;
            bindings = <&kp LA(LEFT_ARROW)>;
        };

        new_tab {
            pattern = <GESTURE_LEFT GESTURE_RIGHT>;
            bindings = <&kp LC(T)>;
        };

        open_history {
            pattern = <GESTURE_DOWN GESTURE_RIGHT>;
            bindings = <&kp LC(H)>;
        };
    };

    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT)>,
                           <&zip_mouse_gesture>,
                           <&zip_xy_scaler 1 1>,
                           <&zip_temp_layer AML_Layer 5000>;

        scroll-layer {
            layers = <Mac_Common_Layer Win_Common_Layer>;
            input-processors = <&zip_xy_to_scroll_mapper>, 
                               <&zip_scroll_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
                               <&zip_scroll_scaler 1 25>,
                               <&zip_scroll_snap>;
        };

        o-gesture-win-layer {
            layers = <O_Gesture_Win>;
            input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT)>,
                               <&zip_mouse_gesture_o_win>,
                               <&zip_xy_scaler 1 1>,
                               <&zip_temp_layer AML_Layer 5000>;
        };

        o-gesture-mac-layer {
            layers = <O_Gesture_Layer>;
            input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT)>,
                               <&zip_mouse_gesture_o_mac>,
                               <&zip_xy_scaler 1 1>,
                               <&zip_temp_layer AML_Layer 5000>;
        };

        i-gesture-win-layer {
            layers = <I_Gesture_Win>;
            input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT)>,
                               <&zip_mouse_gesture_i_win>,
                               <&zip_xy_scaler 1 1>,
                               <&zip_temp_layer AML_Layer 5000>;
        };

        i-gesture-mac-layer {
            layers = <I_Gesture_Layer>;
            input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT)>,
                               <&zip_mouse_gesture_i_mac>,
                               <&zip_xy_scaler 1 1>,
                               <&zip_temp_layer AML_Layer 5000>;
        };

        win-gesture-layer {
            layers = <Win_Default_Layer>;
            input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT)>,
                               <&zip_mouse_gesture_win>,
                               <&zip_xy_scaler 1 1>,
                               <&zip_temp_layer AML_Layer 5000>;
        };
    };
};

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0, 5)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 4)>,
                    <NRF_PSEL(SPIM_MISO, 0, 4)>;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0, 5)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 4)>,
                    <NRF_PSEL(SPIM_MISO, 0, 4)>;
            low-power-enable;
        };
    };
};

&xiao_serial { status = "disabled"; };

&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        cpi = <600>;
        irq-gpios = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        force-awake;
    };
};

&zip_temp_layer {
    excluded-positions = <
        7  // I
        8  // O
        10 // command or control (Hold)
        16 // J
        17 // K
        18 // L
        19 // command or control (Hold)
        20 // shift (hold)
        30 // shift (hold)
        31 // control
        32 // option or windows
        33 // command or alt
    >;
};
